<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/style.css/">
    <meta charset="UTF-8">
    <title>GYM_buddy</title>
</head>
<body>
    <header>
        <h1><a href="index.html">GYM-buddy</a></h1>
        <nav>
            <ul class="menu">
                <li class="menu"><a href="pomiar.html">Pomiar Użytkownika</a></li>
                <li class="menu"><a href="plan.html">Plan Treningowy</a></li>
                <li class="menu"><a href="trening.html">Trening</a></li>
            </ul>
        </nav>
    </header>
    <section>
        <p>
            Dzięki za skorzystanie z naszej aplikacji!<br>
            Aby dodać lub uaktualnić dane użytkownika, przejdź do sekcji Pomiar Użytkownika.<br>
            Aby dodać lub zmodyfikować plan treningowy, przejdź do sekcji Plan Treningowy.<br>
            Aby rozpocząć trening, przejdź do sekcji trening.<br>
        </p>
    </section>
    <footer>

    </footer>
</body>
</html>