<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="style.css">
    <meta charset="UTF-8">
    <title>GYM_buddy</title>
</head>
<body>
    <header>
        <h1><a href="index.html">GYM-buddy</a></h1>
        <nav>
            <ul>
                <li><a href="pomiar.html">Pomiar Użytkownika</a></li>
                <li><a href="plan.html">Plan Treningowy</a></li>
                <li><a href="trening.html">Trening</a></li>
            </ul>
        </nav>
    </header>
    <section>
        <form method="post" id="pomiar">
            <label>nick: <input type="text" name="nick"></label>
            <label>waga: <input type="number" step="0.1" name="weight"></label>
            <label>masa mięśniowa: <input type="number" step="0.1" name="muscle_weight"></label>
            <label>masa tłuszczu: <input type="number" step="0.1" name="fat_weight"></label>
            <label>wiek metaboliczny: <input type="number"  name="metabolic_age"></label>
            <label>obwód klatki piersiowej: <input type="number" step="0.1" name="chest_circuit"></label>
            <label>obwód bicepsa w spoczynku: <input type="number" step="0.1" name="biceps_circuit"></label>
            <label>obwód bicepsa w napięciu: <input type="number" step="0.1" name="biceps_circuit_tight"></label>
            <label>obwód pośladków: <input type="number" step="0.1" name="buttock_circuit"></label>
            <label>obwód uda: <input type="number" step="0.1" name="thigh_circuit"></label>
            <label>obwód pasa: <input type="number" step="0.1" name="waist_circuit"></label>
            <label>obwód łydki: <input type="number" step="0.1" name="cald_circuit"></label>
            <label><input type="submit" value="OK"></label>
        </form>
    </section>
    <footer>

    </footer>
</body>
</html>