<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="style.css">
    <meta charset="UTF-8">
    <title>GYM_buddy</title>
</head>
<body>
    <header>
        <h1><a href="index.html">GYM-buddy</a></h1>
        <nav>
            <ul>
                <li><a href="pomiar.html">Pomiar Użytkownika</a></li>
                <li><a href="plan.html">Plan Treningowy</a></li>
                <li><a href="trening.html">Trening</a></li>
            </ul>
        </nav>
    </header>
    <section>

    </section>
    <footer>

    </footer>
</body>
</html>